.box{
	border: 2px solid black;
	font-weight: bolder;
	width: 70%;
}

.a{
	margin-top: 7px;
	margin-left: -30px;
}


.b{
	margin-top: 12px;
}

.c{
	text-align: center;
}

.btn{
	margin-left: -100px;
	margin-bottom: 10px;
}